.sidebar{
    background: black;
    width: 30%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    color: white;
}

.up{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 40%;
}

.sidebar .highlight{
    border: 2px solid #C4C4C4;
    border-radius: 0 0 1rem 0;
    background: #C4C4C4;
    width: 100%;
    color: black;

}

.sidebar h3, .sidebar h1{
    padding: .5rem 1rem .5rem 3rem;
}

.sidebar h1{
    padding-top: 0;
}