@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.App {
  height: 100vh;
  background: #0474ba;
}

button{
  background: #ff6600;
  border: 2px solid #fecc98;
  border-radius: .2rem;
}

